:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
	cursor: pointer;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	background-color: rgba(0, 0, 0, 0.7) !important;
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.ReactModal__Content--after-open {
	border: none !important;
	padding: 0 !important;
}
